@import "tailwindcss";

@layer utilities{
    .btn {
        @apply px-4 py-2 rounded-lg font-medium transition-colors duration-200 flex items-center justify-center gap-2 disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer
    }
}